package-lock.json
package.json
node_modules
static
npm-debug.log
bundle.*
particles.json
/.vscode
/.firebase
/.github
server/public/images/projects/original-horrifying.gif
server/public/images/video.mp4