:root {
    --device : (
        mobile: 480px;
        tablet: 800px;
        desktop: 1200px;
        )
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

.inlineLink {
    color: darkblue;
}

body {
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh;
    gap: 2vh;
}

.navButton {
    display: flex;
    justify-content: center;
    background-color: rgba(144, 144, 241, 0.644);
    padding: 2vh 3vh;
    border: 1px solid rgb(187, 176, 250);
    border-radius: 10px;
    min-width: 100px;
}

#currentNavButton {
    background-color: rgb(133, 133, 235);
    font-weight: 700;
}

.bodyContainer, .moreAboutMeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 3vh 10vh;
    font-size: 20px;
    max-width: 700px;
    min-width: 500px;
}

h1 {
    align-self: center;
    margin: 0vh 5vh 5vh 5vh;
}

p {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}

.technicalContainer {
    display: flex;
    flex-direction: column;
    padding: 6vh 10vh;
    background-color: rgb(214, 214, 214);
    border: 2px solid rgb(150, 150, 150);
    max-width: 70vw;
    min-width: 500px;
}

.skillList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.columnOne, .columnTwo, .columnThree, .columnFour {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    padding: 4vh;
    border: 1vh solid black;
    font-size: 45px;
}

@media only screen and (max-width: 600px) {
    [class ^="block-"] {
        flex-direction: column;
        height: 500px;
    }
}

[class ^="block-"] {
    display: flex;
    flex-direction: row;
    height: 100vh / 3 ;
    gap: var(--gap);
    justify-content: space-around;
}

[class ^="box-"] {
    display: flex;
    background-color: rgb(149, 255, 202);
    border: 2px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    flex: 1 1 500px;
    height: 40vh;
    min-height: 150px;
}

footer {
    padding: 17px;
    background-color: rgb(233, 233, 233);
    width: 100%;
    display: flex;
    justify-content: center;
}

.footerContainer {
    display: flex;
    gap: 5vh;
    justify-content: space-around;
    width: 90%;
}