:root {
    --device : (
        mobile: 480px;
        tablet: 800px;
        desktop: 1200px;
        )
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

.inlineLink {
    color: darkblue;
}

body {
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh;
    gap: 2vh;
}

.navButton {
    display: flex;
    justify-content: center;
    background-color: rgba(144, 144, 241, 0.644);
    padding: 2vh 3vh;
    border: 1px solid rgb(187, 176, 250);
    border-radius: 10px;
    min-width: 100px;
}

#currentNavButton {
    background-color: rgb(133, 133, 235);
    font-weight: 700;
}

.bodyContainer, .moreAboutMeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 3vh 10vh;
    font-size: 20px;
    max-width: 700px;
    min-width: 500px;
}

h1 {
    align-self: center;
    margin: 0vh 5vh 5vh 5vh;
}

p {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 15px;
}

.skillContainer {
    display: flex;
    flex-direction: column;
    padding: 5vh 7vh;
    background-color: rgb(214, 214, 214);
    max-width: 75vw;
    min-width: 650px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgb(26, 26, 26);;
}

.skillList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

li {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 18px;
    margin-top: 7px;
}

.listWithBullets {
    display: list-item;
    margin-left: 40px;
}

.icon {
    height: 30px;
    width: auto;
}

.columnOne, .columnTwo, .columnThree, .columnFour {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    padding: 0vh 25vh 5vh 25vh;
    font-size: 40px;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    [class ^="block-"] {
        flex-direction: column;
        height: 500px;
    }
}

[class ^="block-"] {
    display: flex;
    flex-direction: row;
    height: 100vh / 3 ;
    gap: 4vh;
    justify-content: space-around;
}

[class ^="box-"] {
    display: flex;
    background-color: rgb(149, 255, 202);
    border: 1px solid rgb(73, 73, 73);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    flex: 1 1 500px;
    height: 40vh;
    min-height: 150px;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    color: black;
    background-color: rgba(144, 144, 241, 0.644);
    border: none;
    border-radius: 10px;
}

button:hover {
    box-shadow: 1px 1px 2px rgb(15, 15, 15);
    cursor: pointer;
    background-color: rgb(133, 133, 235);
}

footer {
    padding: 17px;
    background-color: rgb(233, 233, 233);
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.footerContainer {
    display: flex;
    gap: 5vh;
    justify-content: space-around;
    width: 90%;
}

.buttonContainer {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}

form {
    background-color: darkcyan;
    padding: 30px 100px;
    border: gray 2px solid;
}

.skill:hover {
    cursor: pointer;
}

.skillText {
    display: none;
    align-self: flex-start;
    position: absolute;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.91);
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px 10px;
    margin-top: 30px;
    min-width: 150px;
    max-width: 250px;
    word-wrap: wrap;

}

.skillTextVisible {
    display: flex;
}


/* Yes it does have to be done individually, it's for the JavaScript */
#htmlText, #reduxText, #djangoText, #cssText, #reactText, #expressJSText, #javaScriptText, #restfulAPIsText, #nodeJSText, #pythonText #sqlText, #handlebarsText {
    
}
