.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 700ms;
}

.slide {
  height: 400px;
  width: 100%;
  border-radius: 40px;
  background-position: center;
  background-size: cover;
  display: inline-block;
}

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
  border: 1px solid rgb(156, 156, 156);
}

.slideshowDot.active {
  background-color: rgba(29, 170, 147, 1);
  border: 1px solid rgb(21, 125, 107);
}