.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
  position: relative;
  height: 100%;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 700ms;
  height: 85%;
}

.slide {
  min-height: 300px;
  min-width: 300px;
  height: 100%;
  width: 100%;
  border-radius: 40px;
  background-position: center;
  background-size: cover;
  display: inline-block;
}

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
  border: 1px solid rgb(156, 156, 156);
}

.slideshowDot.active {
  background-color: rgba(29, 170, 147, 1);
  border: 1px solid rgb(21, 125, 107);
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 1;
  text-shadow: 0px 0px 2px black;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}