

button {
    background-color: #E3170A;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: bold;
}

#skills {
    background-color: #F5F1ED;
    padding: 5vw 15vw;
    text-align: center;
}

#technicalSkills, #businessSkills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4vh;
}

.skillColumn {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}


.logo {
    width: 5vw;
    height: 5vw;
}

.skill {
    border: solid #1B998B 2px;
    background-color: rgba(27, 153, 138, 0.3);
    width: 10vw;
    height: 9vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

#businessSkills .skill {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.skillText {
    font-size: 0.9rem;
    font-weight: bold;
    font-variant-caps: all-petite-caps;
}


#projectColumn {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8vh;
    margin-top: 10px;
}

.project {
    box-shadow: 2px 2px 4px rgb(10, 10, 10);
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #F5F1ED;
    border-radius: 4px;
    gap: 10px;
}

.projectText {
    display: flex;
    width: 60%;
    padding: 10px;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

#projectLinks {
    display: flex;
    gap: 15px;
}

.projectBlurb p, .projectBlurb em {
    padding-bottom: 5px;
}

/* Button */
.projectLink {
    padding: 10px 20px;
    border: #E3170A solid 2px;
    background-color: #F5F1ED;
}

.projectLink:hover {
    background-color: hsla(4, 92%, 46%, 0.486);
}

#malaphorImage {
    background-image: url("img/projects/malaphor.png");
}

#tictactoeImage {
    background-image: url("img/projects/tictactoe.png");
}

#etchImage {
    background-image: url("img/projects/etch_a_sketch.png");
}

.projectTitle {
    width: 100%;
    padding: 10px;
    background-color: hsla(0, 0%, 0%, 0.95);
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.3rem;
    box-shadow: 0px 0px 6px 1px rgba(255, 255, 255, 0.4);
}

.projectImage {
    width: 20vw;
    height: 20vw;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    filter: grayscale(0.5)
}

.projectImage:hover {
    filter: grayscale(0)    
}

.project:hover .projectImage {
    filter: grayscale(0.1)    
}

#projects, #about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsla(170, 71%, 39%, 0.6);
    padding: 5vw 15vw;
}

#about {
    background-color: #F5F1ED;
}

#aboutContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vw;
}

#contact {
    margin-top: 5vh;
    text-align: center;
}

.aboveTheFold {
  padding: 0vw 20vw 0vw 20vw;
  /* Small amount of colour at bottom to encourage scrolling */
  height: 95vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
  z-index: 2;
  position: relative;
}

#particles-js {
    background-color: black;
    background: radial-gradient(rgb(20, 20, 20), black);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95vh;
}

#wrapper {
    position: relative;
    width: 100vw;
    /* color: #030358; */
}

#readMore {
    border: none;
}

#readMore:hover {
    border: none;
}

