#skills {
    background-color: #F5F1ED;
    padding: 5vw 15vw;
    text-align: center;
}

#technicalSkills, #businessSkills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4vh;
}

.skillColumn {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}


.logo {
    width: 4.5vw;
    height: 4.5vw;
}

.skill {
    border: solid rgba(19, 19, 19, 0.5) 1px;
    box-shadow: rgba(19, 19, 19, 0.8) 1px 2px 3px;
    background-color: rgba(255, 255, 255, 1);
    width: 10vw;
    height: 9vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

#businessSkills .skill {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 5px;
}

.skillText {
    font-size: 0.9rem;
    font-weight: bold;
    font-variant-caps: all-petite-caps;
}


/* Button */
.projectLink {
    padding: 10px 20px;
    border: #E3170A solid 2px;
    background-color: #F5F1ED;
    z-index: 3;
}

.projectLink:hover {
    background-color: hsla(4, 92%, 46%, 0.486);
    cursor: pointer;
}

#malaphorImage {
    background-image: url("img/projects/malaphor.png");
}

#tictactoeImage {
    background-image: url("img/projects/tictactoe.png");
}

#etchImage {
    background-image: url("img/projects/etch_a_sketch.png");
}

#projects, #about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F1ED;
}

#about {
    padding: 5vw 15vw;
}

#projects {
    padding: 5vw 20vw;
}

#projectGridContainer {
    display: grid;
    width: 100%;
    height: 58vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 2vw 0vw;
    column-gap: 2vw;
    row-gap: 2vw;
    border: red 2px solid;
}

#malaphorThumbnail {
    background-image: url(../img/projects/malaphor.png);
    background-size: cover;
}

.projectThumbnail {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background-color: red;
    padding-bottom: 3vw;
}

.projectDetails {
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(29, 170, 147, 1);
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 3vw;
}

.projectTitle {
    background-color: white;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.projectLinks {
    border-radius: 4px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.projectGithubLogo {
    width: 45px;
    background-image: url(../img/github.png);
    background-size: cover;
}

.projectGithubLogo, .projectLink {
    border-radius: 4px;
    border: 2px solid #e92315;
    height: 45px;
}

.projectGithubLogo:hover {
    background-image: url(../img/githubHover.png);
    background-size: cover;
    width: 45px;
    height: 45px;
}

.projectGridItem {
    background-color: rgba(29, 170, 147, 0.6);
    border: solid rgba(29, 170, 147, 1) 2px;
    box-shadow: rgba(19, 19, 19, 0.8) 1px 2px 3px;
    border-radius: 4px;
    position: relative;
}

#about, #skills {
    background-color: rgba(29, 170, 147, 0.6);
}

#aboutContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vw;
}

#contact {
    margin-top: 5vh;
    text-align: center;
}

.aboveTheFold {
  padding: 0vw 20vw 0vw 20vw;
  /* Small amount of colour at bottom to encourage scrolling */
  height: 95vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
  z-index: 2;
  position: relative;
}

#particles-js {
    background-color: black;
    background: radial-gradient(rgb(20, 20, 20), black);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95vh;
}

#wrapper {
    position: relative;
    width: 100%;
}

#readMore {
    border: none;
}

#readMore:hover {
    border: none;
}

.headerText, h1 {
    user-select: none;
}

.projectThumbnail:hover {
    opacity: 0;
    transition: opacity .2s ease-out;
}

.hidden {
    display: none;
}